# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
1. Introduction to Markdow
2. Insert a diferent levels of Markdow
3. Code for a calculation
4. Use the comand print
##### Author
Luis Villarroel P

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SPSS Modeler

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matlabplot

|Data Science Tools |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
print("This a simple arithmetic expression to mutiply then add integers")
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [2]:
print ("200 minutes into hours.")
print ("This will convert 200 minutes to hours by diving by 60")
200/60

200 minutes into hours.
This will convert 200 minutes to hours by diving by 60

3.3333333333333335